extends layout

block content
  h1 Node Info
  p.lead Simply displaying the host and build info, no auth required.
  hr
  .row
    .col-sm-6
      h2 Host
      pre= host
    .col-sm-6
      h2 Build Date
      pre= buildDate
    .col-sm-6
      h2 Git Branch
      pre= gitBranch
    .col-sm-6
      h2 Git Commit
      pre= gitCommit
    .col-sm-6
      h2 Git State
      pre= gitState
    .col-sm-6
      h2 Git Summary
      pre= gitSummary
    .col-sm-6
      h2 Version
      pre= version
      