extends layout

block content
  h1 User (ID: #{id})
  p.lead Wallet address information for the user.
  hr
  .row
    .col-sm-6
    each address, i in addressesList
        h2= 'Address ' + i
        ul
          li= 'Name: ' + address.name
          li= 'Address: ' + address.address
          li= 'Type: ' + address.type
          li= 'Balance: ' + address.balance
